<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>hompimpa</title>
    <script src="static/script.js"></script>
    <script>
      const roomId = "{{ .id }}";
    </script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@forevolve/bootstrap-dark@1.0.0/dist/css/bootstrap-dark.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css"
    />
  </head>
  <body>
    <style>
      .github-fork-ribbon:before {
        background-color: #333;
      }
    </style>
    <a
      class="github-fork-ribbon"
      target="_blank"
      href="https://github.com/mustafasegf/notion-note"
      data-ribbon="Check on Github"
      title="Fork me on GitHub"
      >Check on Github</a
    >

    <div class="container d-flex vh-100">
      <div class="row align-self-center w-100">
        <div class="col-6 mx-auto">
          <div>
            <h3>Simple app to save notes to notion database</h3>
            <p>
              How to use: <br />
              use /page [databaseID] to set database <br />
              <br />
              Go to https://www.notion.so/my-integrations to get your token and use /token [token]
              to set token <br />
            </p>
            <p>Line: <a href="http://line.me/ti/p/~@669jjnla" target="_blank">@669jjnla</a></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
